<div class="register-div">

<h5 class="margin-title color-morado-fuerte">Registro</h5>

<div class="modal-body">
  <form data-toggle="validator" role="form" name="add-form">
    <input class="input-type margin-input mr-sm-2 " type="text" name="userId" placeholder="Nombre" id="name">
    <input class="input-type margin-input mr-sm-2" type="email" name="email" id="sign-in-new" placeholder="Correo electrónico">
    <input class="input-type margin-input mr-sm-2" type="password" name="password" id="password-new" placeholder="Celular">
    <section id="error-reg"></section>
    <p id="modal-invalid-email"></p>
  </form>
</div>

  <!-- <button  class="imagen-fondo" type="button" id="button-comeback" >Cerrar</button> -->
  <button type="button" id="button-sign-in-new" class="button-crear-cuenta">Crear Cuenta</button>
  <p class="condiciones">Al dar clic aceptas los terminos y condiciones</p>
    </div>

  </div>